<div class="profile">
  <div class="user-profile">
    <div class="user-details">
      <div class="user-avatar">
        <div *ngIf="profileUser.imageUrl; else noImageTemplate">
          <nz-avatar class="user-avatar-circle" [nzSrc]="profileUser.imageUrl"></nz-avatar>
        </div>
        <ng-template #noImageTemplate>
          <nz-avatar class="user-avatar-circle"
                     [ngStyle]="{'background-color': this.getAvatarColor(this.profileUser.name), 'line-height': 'initial'}"
                     nzIcon="user"
                     [nzSize]="120"></nz-avatar>
        </ng-template>
      </div>
      <div class="user-summary">
        <div class="full-name">{{profileUser.name}}</div>
        <div class="username">{{profileUser.email}}</div>
        <div class="username">[{{profileUser.role}}]</div>
          <nz-table #LinesTable nzBordered [nzData]="this.linesList" class="list" [nzHideOnSinglePage]="true" style="width: 350px" nzPageSize="3">
            <thead>
              <tr>
                <th nzWidth="65%">ADMINISTERED LINES</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of LinesTable.data" class="editable-row">
                <td>
                  <div *ngIf="editId !== data.id; else editTpl">
                    <div style="font-size: 20px">
                      {{ data.name }}
                    </div>
                  </div>
                  <ng-template #editTpl>
                    <input type="text" nz-input [(ngModel)]="data.name"
                           (input)="this.authService.OnInputFilteredLines($event.target?.value)"
                           [nzAutocomplete]="auto"/>
                    <nz-autocomplete [nzDataSource]="this.authService.filteredOptions" #auto></nz-autocomplete>
                  </ng-template>
                </td>
                <td>
                  <a (click)="startEdit(data.id, $event)" *ngIf="editId !== data.id; else editTpl2">
                    <i nz-icon nzType="edit" style="font-size: 20px; padding-left: 5%; padding-bottom: 7%"></i>
                  </a>
                  <ng-template #editTpl2>
                    <a (click)="finishEdit(data.id, $event)">
                      <i nz-icon nzType="check" style="font-size: 20px; padding-left: 5%; padding-bottom: 7%"></i>
                    </a>
                  </ng-template>
                  <a nz-popconfirm nzTitle="Sure to delete?" nzOkText="YES" nzCancelText="NO" (nzOnConfirm)="deleteRow(data.id)">
                    <i nz-icon nzType="delete" style="font-size: 20px; padding-left: 40%; padding-bottom: 7%"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <a (click)="addRow()">
                    <i nz-icon nzType="plus" style="font-size: 20px; padding-left: 35%; padding-bottom: 7%"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <div *ngIf="hasBeenEdited" style="margin-top: 10%;">
            <button nz-button
                    nzType="primary"
                    class="login-form-button"
                    style="margin-right: 10%; margin-left: 5%"
                    nzSize="large"
                    (click)="this.validateChanges();">
              Save
            </button>
            <button nz-button
                    style="margin-right: 5%;"
                    class="login-form-button"
                    (click)="this.cancelChanges();"
                    nzSize="large">
              Cancel
            </button>
          </div>
          <div *ngIf="hasError" >
            <nz-alert nzType="error" nzMessage="Error" nzDescription="You can't make this changes!" nzCloseable nzShowIcon style="padding-top: 20px" (nzOnClose)="hasError = false;">
            </nz-alert>
          </div>
        </div>
    </div>
  </div>
</div>
