.signup-container {
  max-width: 320px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}

.signup-form-button {
  width: 100%;
}

.signup-form-button[disabled], .signup-form-button[disabled]:hover, .signup-form-button[disabled]:focus {
  opacity: 0.6;
  color: #fff;
  background-color: rgba(165, 80, 52, 0.87);
  border-color: rgba(165, 80, 52, 0.87);
}

.signup-form input {
  margin-bottom: 3px;
}

.page-title {
  margin-bottom: 1.5rem;
}
