<div class="profile" style="margin-top: 20px">
  <div style="float:left; width: 50%; min-width: 400px; padding-bottom: 20px">

    <div style="float: left; z-index: 0; position: relative">
      <div class="user-avatar">
        <div *ngIf="currentUser.imageUrl; else noImageTemplate">
          <nz-avatar class="user-avatar-circle" [nzSrc]="currentUser.imageUrl" [nzSize]="60"></nz-avatar>
        </div>
        <ng-template #noImageTemplate>
          <nz-avatar class="user-avatar-circle"
                     [ngStyle]="{'background-color': this.authService.getAvatarColor(this.currentUser.name)}"
                     nzIcon="user"
                     [nzSize]="60"></nz-avatar>
        </ng-template>
      </div>
    </div>

    <div class="user-summary"  style="padding-right: 20px;">
      <div class="full-name">Your Turns</div>
    </div>

    <div>
      <div >
        <nz-badge [nzColor]="'lime'" [nzText]="'GOING'"></nz-badge>
      </div>
      <div>
        <nz-badge [nzColor]="'rgba(17,169,201,0.83)'" [nzText]="'RETURN'"></nz-badge>
      </div>
    </div>


  </div>

  <div style="margin-top: 4%;">
    <nz-calendar (nzSelectChange)="planTurn($event, modalTpl)">
      <ul *nzDateCell="let date" class="events">
        <div *ngFor="let date2 of this.currentTurns">
          <div *ngIf="this.getCellDate(date, date2);">
            <nz-badge [nzColor]="getColor(date2)" [nzText]="getStops(date2)" *ngIf="date2.status === null; else confirmed"></nz-badge>
            <ng-template #confirmed>
              <nz-badge [nzColor]="getColor(date2)" [nzText]="getStops(date2)" style="font-weight: 700"></nz-badge>
            </ng-template>
          </div>
        </div>
      </ul>
    </nz-calendar>
  </div>
</div>

<ng-template #modalTpl>
  <app-modal-turn *ngIf="onModal"
                  [turns]="this.turns"
                  [date]="this.date"
                  (turnGotNew)="turnAdd($event)"
                  (turnGotChanges)="turnChange($event)"
                  (turnGotDeleted)="turnDelete($event)">
  </app-modal-turn>
</ng-template>
